<% #This is the base layout file for all pages EXCEPT slideshow.html.erb
   #If you change something in here, chances are that you'll have to change
   #it in there as well.
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>UMass Transit - <%= @title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>

    <% @stylesheets.each do |s| %>
      <link href="stylesheets/<%= s %>.css" rel="stylesheet" type="text/css"/>
    <% end %>

    <script src="javascript/head.min.js" type="text/javascript"></script>

    <% if @rss %>
      <link rel="alternate" type="application/rss+xml" title="UMTS Service Bulletins" 
      href="https://transit-app1.admin.umass.edu/feed.php"/>
    <% end %>
  </head>

  <body>
    <div id="fb-root"></div>
    <div id="container" >
      <%= render "_header.html.erb" %>

      <table id="main_table">
        <tbody>
          <tr>
            <% if @leftmenu %>
              <td id="left">
                <%= render "_left_column.html.erb" %>
              </td>
            <% end %>

            <td id="right">
              <div id="page_title"><%= @title %></div>
                <div id="page_text_field">
                  <%= yield %>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <%= render "_footer.html.erb" %>
  </div>

  <% if @jquery %>
    <script type="text/javascript">
      head.js({jquery: "//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"});
    </script>
  <% end %>

  <% unless @scripts.empty? %>
    <script type="text/javascript">
      head.js("<%= @scripts.map{|s| "javascript/#{s}.js"}.join('", "') %>");
    </script>
  <% end %>

  <%= render "_ga.html.erb" %>
  </body>
</html>
